header{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.bola{
    height: 374px;
    width: 29%;
    border-radius: 50%;
    background-color: orange;
    margin: 0px 20px 0px 20px;
    position: relative;

}
.bola-direita{

    z-index: 0;
    display: flex;
    justify-content: center;
    top: 140px;
    opacity: 0.5;
    
}


.bola-esquerda{
    z-index: 0;
    display: flex;
    justify-content: center;
    top: 140px;
    opacity: 0.5;

}
.bola-meio{
    z-index: 0;
    display: flex;
    justify-content: center;
    top: 30px;    
}
.bola-meio p{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 4px;
    border-bottom: 2px solid;
    width: 91%;

}
.conteudo-meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo-meio{
    width: 160px;
    position: absolute;

}
.logo-meio-fundo{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius:50%; 
    background-color: transparent;
}
.btn-entrar{
    visibility: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 55px;
    left: 35px;
  
}
.botao-logo{
}
.logo-meio-fundo:hover{
    background-color:rgba(49, 192, 31, 0.6);  
    cursor: pointer;
}
.logo-meio-fundo:hover .btn-entrar{
    visibility: visible;
}
.btn-meio{
    width: 80%;
    border: none;
    border-radius: 5px;
}

.container-fluid{
    display: flex;
    justify-content: space-around;
    position: inherit;
   
}







.conteudo-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-esquerda p{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 4px;
    border-bottom: 2px solid;
    width: 85%;
    font-size: 13px;
}

.btn-entrar2{
    visibility: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 55px;
    left: 30px;
  
}
.logo-esquerda{
    width: 160px;
    position: absolute;

}
.logo-esquerda-fundo{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius:50%; 
    background-color: transparent;
}
.logo-esquerda-fundo:hover{
    background-color:rgba(49, 192, 31, 0.6);  
    cursor: pointer;
}
.logo-esquerda-fundo:hover .btn-entrar2{
    visibility: visible;
}










.conteudo-direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-direita p{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 4px;
    border-bottom: 2px solid;
    width: 85%;
    font-size: 13px;
}

.btn-entrar3{
    visibility: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 55px;
    left: 30px;
  
}
.logo-direita{
    width: 160px;
    position: absolute;

}
.logo-direita-fundo{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius:50%; 
    background-color: transparent;
}
.logo-direita-fundo:hover{
    background-color:rgba(49, 192, 31, 0.6);  
    cursor: pointer;
}
.logo-direita-fundo:hover .btn-entrar3{
    visibility: visible;
}